#footer-container
{
    padding: 20px;
    background-color: #CC0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

#footer-item
{
    font-size: 25px;
}

#footer-item > a > i
{
    color: white;
}

#footer-item > a > i:hover {
    color: #000000;
}

@media (max-width: 1300px) {

    #footer-list
    {
        width: 20%;
    }
}

@media (max-width: 500px) 
{
    #footer-list
    {
        width: 45%;
    }
}

@media (max-width: 380px) 
{
    #footer-list
    {
        width: 40%;
    }
}