/* Setting */

body
{
    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif !important;
    background-color: #1A1A1A;
    color: #FFFFFF; 
    overflow: auto !important;
}

p
{
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1;
}

ul
{
    list-style-type: none;
    margin: 0 !important;
}

li
{
    margin: 0;
}

/* Block Setting */

.page-container
{
    display: flex;
    flex-direction: column;
    max-width: 1459px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    
}

@media (max-width: 1200px) {
    .page-container
    {
        gap: 8rem;
    }
}