/* Setting */

@font-face {
    font-family: 'HinaMincho-Regular';
    src: url('../src/fonts/HinaMincho-Regular.ttf') format('truetype');
}

body
{
    font-family: 'HinaMincho-Regular' !important;
}

p
{
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1;
}

ul
{
    list-style-type: none;
    margin: 0 !important;
}

li
{
    margin: 0;
}

/* Block Setting */

#page-container
{
    max-width: 1459px;
    width: 100%;
    margin: 0 auto;
}

/* Navbar */

#navbar 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: lightgreen;
    width: 100%;
    height: auto;
    padding: 20px !important;
    border: 1px solid black;
}

#navbar p 
{
    font-size: 24px;
}

/* Home Section */

#home-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 600px;
    border: 1px solid black;
}

#profile-pic img
{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid black;
}

#profile-text-container
{
    margin: 35px;
}

#profile-text-header
{
    font-size: 98px;
}

#profile-text-subheader
{
    font-size: 48px;
}

.profile-text-content
{
    font-size: 24px;
    line-height: 1.5;
}

#profile-text-button
{
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
}

/* About Section */

#about-container
{
    height: 700px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-title
{
    margin-bottom: 20px !important;
    font-size: 48px;
}

#about-content
{
    font-size: 36px;
    width: 900px;
}

/* Skill Section */

#skill-container
{
    height: 1500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skill-container > div
{
    width: 60%;
}

#skill-header
{
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px !important;
}

.skill-block
{
    width: 100%;
}

.skill-block-header
{
    font-size: 32px;
}

.skill-block-list
{
    display: flex;
    margin: 20px 0;
}

.skill-item
{
    margin: 10px;
    text-align: center;
}

.skill-item-img
{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.skill-item-content
{
    font-size: 20px;
}

/* Work Section */

#work-container
{
    height: 1300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work-header
{
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px !important;
}

#plantdatabase-container
{
    margin: 50px;
    text-align: left;
}

#plantdatabase-header
{
    font-size: 36px;
}

#plantdatabase-content
{
    margin-top: 10px !important;
    font-size: 28px;
    margin-right: 50% !important;
}

#plantdatabase-tech
{
    font-size: 20px;
    margin-top: 10px !important;
}

#MILK-container
{
    margin: 50px;
    text-align: right;
}

#MILK-header
{
    font-size: 36px;
}

#MILK-content
{
    margin-top: 10px !important;
    margin-left: 50% !important;
    font-size: 28px;
}

#MILK-tech
{
    font-size: 20px;
    margin-top: 10px !important;
}

#CS50-container
{
    width: 70%;
    margin: 0 auto;
}

#CS50-header
{
    font-size: 36px;
    text-align: center;
}

#CS50-upper-items
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px !important;
}

#CS50-lower-items
{
    display: flex;
    justify-content:center;
    margin-top: 30px !important;
}

.CS50Project-container
{
    border: 1px solid black;
    width: 320px;
    height: 200px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.CS50Project-header
{
    font-size: 32px;
}

.CS50Project-content
{
    font-size: 20px;
    width: 300px;
    height: 80px;
    margin-top: 10px !important;
}

.CS50Project-link
{
    font-size: 20px;
}

/* Experience Section */

#experience-container
{
    height: 500px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#experience-container div
{
    width: 75%;
}

#experience-header
{
    text-align: center;
    font-size: 48px;
}

.experience-item
{
    display: flex;
    width: 100% !important;
    margin-top: 50px;
}

.experience-item > div
{
    display: flex;
    align-items: center;
    justify-content: start;
}

.experience-item-header
{
    font-size: 32px;
}

.experience-item-content
{
    font-size: 24px;
}

/* Contact Section */

#contact-container
{
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

#contact-container > div
{
    width: 60%;
}

#contact-header
{
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px !important;
}

#contact-form > button
{
    margin: 0px 5px;
    width: 100%;
}
 
.form-group
{
    margin: 10px 5px;
}

.form-group > textarea
{
    resize: none;
}