#about-container
{
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-container div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-title
{
    margin-bottom: 20px !important;
    font-size: 40px;
}

#about-content
{
    font-size: 32px;
    width: 75%;
    text-align: justify;
}

@media (max-width: 1100px) {

    #about-container
    {
        height: 600px;
    }
}

@media (max-width: 500px) 
{
    #about-container
    {
        height: 500px;
    }

    #about-title
    {
        font-size: 32px;
    }

    #about-content
    {
        font-size: 22px;
        text-align: start;
    }
}