#about-container
{
    height: 1200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-container-center
{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about-information
{
    margin-bottom: 50px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-info-header
{
    margin-bottom: 20px !important;
    font-size: 40px;
    text-align: center;
}

#about-info-content
{
    font-size: 32px;
    width: 75%;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
}

#about-hobby
{
    width: 85%;
    text-align: start;
}

#about-hobby-title
{
    margin-bottom: 20px !important;
    font-size: 40px;
    text-align: start;
}

#about-hobby-list
{
    display: flex;
    flex-direction: row;
}

.hobby-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background: black;
    color: white;
}

.hobby-item-header
{
    font-size: 32px;
    text-align: center;
}

.hobby-item-image
{
    width: 300px;
    height: 300px; 
    object-fit: cover;
    margin: 20px;
    border-radius: 10px;
}

.hobby-item-info
{
    font-size: 22px;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
}

@media (max-width: 1300px) {

    #about-container
    {
        height: 2400px;
    }

    #about-hobby-list
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hobby-item
    {
        width: 50%;
    }
}

@media (max-width: 1100px) {

    #about-container
    {
        height: 2100px;
    }

    #about-hobby-list
    {
        display: flex;
        flex-direction: column;
    }

    #about-info-content
    {
        font-size: 24px;
    }

}

@media (max-width: 800px) {

    #about-container
    {
        height: 2450px;
        /* background-color: gray; */

    }
}

@media (max-width: 500px) 
{
    #about-container
    {
        height: 2300px;
    }

    #about-info-header
    {
        font-size: 32px;
    }

    #about-info-content
    {
        font-size: 22px;
        text-align: start;
    }

    #about-hobby-title
    {
        font-size: 32px;
    }

    .hobby-item-header
    {
        font-size: 30px;
        text-align: center;
    }

    .hobby-item-info
    {
        font-size: 20px;
    }
}

@media (max-width: 500px) 
{
    #about-container
    {
        height: 2000px;
        /* background-color: gray; */
    }

    #about-info-header
    {
        font-size: 26px;
    }

    #about-info-content
    {
        font-size: 18px;
        text-align: justify;
        hyphens: auto;
        -webkit-hyphens: auto;
        word-spacing: -0.05em;
    }

    .hobby-item
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        background: black;
        color: white;
        width: 85%;
    }

    .hobby-item-image
    {
        width: 250px;
        height: 230px; 
    }

    .hobby-item-header
    {
        font-size: 26px;
    }

    .hobby-item-info
    {
        font-size: 18px;
    }


}
