#contact-container
{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-container > div
{
    width: 60%;
}

#contact-header
{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px !important;
}

#contact-form > button
{
    margin: 0px 5px;
    width: 100%;
}
 
.form-group
{
    margin: 10px 5px;
}

.form-group > textarea
{
    resize: none;
}

.form-control:focus 
{
    border-color:rgba(100,100,100,1)!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
     box-shadow: none!important;
}