#footer-container
{
    padding: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

#footer-item
{
    font-size: 25px;
}

#footer-item > a > i
{
    color: white;
}