/* Setting */

html
{
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 70px);
}

@font-face {
    font-family: 'HinaMincho-Regular';
    src: url('../src/fonts/HinaMincho-Regular.ttf') format('truetype');
}

body
{
    font-family: 'HinaMincho-Regular' !important;
    background-image: url('images/Background.png');
    overflow: auto !important;
}

p
{
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1;
}

ul
{
    list-style-type: none;
    margin: 0 !important;
}

li
{
    margin: 0;
}

/* Block Setting */

.page-container
{
    max-width: 1459px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid black; */
}